<h1 class="page-header">Create a new Dataset File Schema from an existing Data File</h1>
<p>Upload an existing data file in CSV format, with headers and Octopub will infer a Schema from it</p>

<%= bootstrap_form_for @inferred_dataset_file_schema, method: :post, data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } do |f| %>
  <%= f.text_field :name, required: true %>
  <%= f.text_area :description %>
  <%= f.select :user_id, organization_select_options_schema, { label: "Owner" }, { class: "selectpicker form-control show-tick" } %>
  <div class="schema-panel">
    <fieldset class="file bg-upload">
      <%= f.file_field :csv_url, label: "CSV Data File", accept: ".csv" %>
    </fieldset>
  </div>
  <button type="submit" class="btn btn-primary btn-lg btn-block"> Submit <i class="fa fa-refresh fa-spin hidden" id="spinner"></i></button>
<% end %>
