<p id="notice"><%= notice %></p>
<h1>Output Schemas</h1>
<% if @output_schemas.exists? %>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Input Schema</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @output_schemas.each do |output_schema| %>
        <tr>
          <td><%= output_schema.title %></td>
          <td><%= output_schema.Description %></td>
          <td><%= link_to output_schema.dataset_file_schema.name, output_schema.dataset_file_schema %></td>
          <td><%= link_to 'Show', output_schema %></td>
          <td><%= link_to 'Edit', edit_output_schema_path(output_schema) %></td>
          <td><%= link_to 'Destroy', output_schema, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>There are no output schemas, create one from the <%= link_to 'Dataset File Schemas', dataset_file_schemas_path %> page.</p>
<% end %>
