<p id="notice"><%= notice %></p>

<h1>Output Schema Fields</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @output_schema_fields.each do |output_schema_field| %>
      <tr>
        <td><%= link_to 'Show', output_schema_field %></td>
        <td><%= link_to 'Edit', edit_output_schema_field_path(output_schema_field) %></td>
        <td><%= link_to 'Destroy', output_schema_field, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Output Schema Field', new_output_schema_field_path %>
