<tr data-dataset-id="<%= dataset.id %>" data-build-status="<%= dataset.build_status.nil? ? "building" : "built" %>">
  <td class="owner">
    <%= image_tag dataset.owner_avatar, height: 20, width: 20 %>
    <%= dataset.repo_owner %>
  </td>
  <% if @dashboard %>
    <td class="private">
      <% if dataset.restricted %>
        <i class='fa fa-lock' title="private"></i>
      <% else %>
        <i class='fa fa-globe' title="public"></i>
      <% end %>
    </td>
  <% end %>
  <td><%= dataset.name %></td>
  <td>
    <%= link_to dataset.gh_pages_url, dataset.gh_pages_url %>
  </td>
  <% if @dashboard %>
    <td><%= link_to("Edit", edit_dataset_path(dataset.id), class: "btn btn-warning") %></td>
    <td><%= link_to("Delete", dataset_path(dataset.id), method: :delete, data: { confirm: "Are you sure you want to delete this dataset?\r\n\r\nNote: This will also delete the repo from Github" }, class: "btn btn-danger") %></td>
  <% end %>
</tr>
