<tr class="published" data-dataset-id="<%= dataset.id %>" data-build-status="<%= dataset.build_status.nil? ? "building" : "built" %>">
  <td>
    <%= dataset.name.truncate(30) %>
  </td>
  <td><%= dataset.dataset_files.each { |file| file }.count %></td>
  <% if dataset.schema_names == "" %>
    <td>/</td>
  <% elsif dataset.schema_names.include?", " %>
    <td>multiple</td>
  <% else %>
    <td><%= dataset.schema_names %></td>
  <% end %>
  <td><%= time_or_date(dataset.created_at.utc) %></td>
  <td>Temp</td>
  <td><%= dataset.published_status %></td>
  <td>
    <a href="#" class="btn action-button" tabindex="0" data-toggle="popover" data-trigger="click" data-popover-content="#a1" data-placement="bottom">...</a>
    <div id="a1" class="hidden">
        <div class="popover-body">
          <% if can? :edit, dataset %>
            <%= link_to("Edit", edit_dataset_path(dataset.id), class: "btn btn-warning") %>
          <% end %>
          <% if can? :delete, dataset %>
            <%= link_to("Delete", dataset_path(dataset.id), method: :delete, data: { confirm: "Are you sure you want to delete this dataset?\r\n\r\nNote: This will also delete the repo from Github" }, class: "btn btn-danger") %>
          <% end %>
        </div>
    </div>
  </td>
</tr>
