<tr class="published" data-dataset-id="<%= dataset.id %>" data-build-status="<%= dataset.build_status.nil? ? "building" : "built" %>">
  <td>
    <%= dataset.name.truncate(30) %>
  </td>
  <td><%= dataset.dataset_files.each { |file| file }.count %></td>
  <% if dataset.schema_names == "" %>
    <td></td>
  <% elsif dataset.schema_names.include?", " %>
    <td>multiple</td>
  <% else %>
    <td><%= dataset.schema_names.truncate(30) %></td>
  <% end %>
  <td><%= time_or_date(dataset.created_at.utc) %></td>
  <td>Temp</td>
  <% if dataset.published_status %>
    <td>Yes</td>
  <% else %>
    <td>No</td>
  <% end %>
  <td>
    <div class="dropdown show">
      <a class="dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        ...
      </a>
      <div class="dropdown-menu dropdown-menu-right action-box" aria-labelledby="dropdownMenuLink">
        <% if !dataset.published_status %>
          <%= link_to("Publish*", '#', class: "dropdown-item") %>
        <% end %>
        <% if can? :edit, dataset %>
          <%= link_to("Edit", edit_dataset_path(dataset.id), class: "dropdown-item") %>
        <% end %>
        <% if can? :delete, dataset %>
          <%= link_to("Delete", dataset_path(dataset.id), method: :delete, data: { confirm: "Are you sure you want to delete this dataset?\r\n\r\nNote: This will also delete the repo from Github" }, class: "dropdown-item") %>
        <% end %>
        <%= link_to("View", files_path(dataset.id), class: "dropdown-item") %>
        <% if !dataset.published_status %>
          <%= link_to("Download", dataset.gh_pages_url + '/datapackage.json', class: "dropdown-item") %>
        <% end %>
        <%= link_to("Add files*", edit_dataset_path(dataset.id), class: "dropdown-item") %>
      </div>
    </div>
  </td>
</tr>
