<%= form_tag(url, method: method, :id => "add-dataset-form", :data => {'form-data' => (s3_direct_post.fields), 'url' => s3_direct_post.url, 'host' => URI.parse(s3_direct_post.url).host }, class: 'edit-form') do %>

  <div class="form-group">
    <label for="dataset[name]">Collection name</label>
    <%= text_field_tag "dataset[name]", dataset.name, disabled: true, placeholder: t(:'dataset.name'), class: "form-control" %>
  </div>
  <div class="form-group">
    <label for="dataset[description]">Collection description</label>
    <%= text_area_tag "dataset[description]", dataset.description, placeholder: t(:'dataset.description'), class: "form-control"  %>
  </div>
  <div class="form-group">
    <label for="dataset[frequency]">How often do you plan on adding files?</label>
    <%= select_tag "dataset[frequency]", options_for_select(Octopub::PUBLICATION_FREQUENCIES, dataset.frequency), class: "form-control" %>
  </div>

  <div class="form-group">
    <label for="dataset[frequency]">Licence</label>
    <div class="license-selector top-buffer">
      <% licenses.each do |key, arr| %>
        <p class="subheading"><%= key %></p>
        <% arr.each_with_index do |l, i| %>
          <label class="large-radio">
            <%= radio_button_tag 'dataset[license]', l[:id], dataset.license == l[:id] %>
            <%= l[:name] %>
            <span class="checkmark"></span>
          </label>
        <% end %>
      <% end %>
    </div>
  </div>

  <div id="files">
    <% if dataset.dataset_files.count == 0 %>
      <!-- render blank form inputs for adding new files -->
      <%= render partial: "dataset_files/edit_form", locals: { file: DatasetFile.new, schema: DatasetFileSchema.new, dataset_file_schemas: dataset_file_schemas } %>
    <% else %>
      <% dataset.dataset_files.order(created_at: :asc).each_with_index do |file, i| %>
        <div class="hidden">
          <!-- render blank form inputs for adding new files -->
          <%= render partial: "dataset_files/edit_form", locals: { file: DatasetFile.new, schema: DatasetFileSchema.new, i: i, dataset_file_schemas: dataset_file_schemas } %>
        </div>
        <div class="visible">
          <!-- render the existing files -->
          <%= render partial: "dataset_files/edit_form", locals: { file: file, i: i, dataset_file_schemas: dataset_file_schemas } %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="form-group">
    <button id="clone" class="btn btn-secondary">Save and add another file</button>
    <!-- <button id="delete"class="btn btn-tertiary">Delete</button> -->
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary btn-lg btn-block">
      Submit collection for validation <i class="fa fa-spinner fa-spin hidden" id="spinner"></i>
    </button>
  </div>
<% end %>