<%= bootstrap_form_tag url: url, method: method, html: { class: 'edit-form' }, data: { 'form-data' => (s3_direct_post.fields), 'url' => s3_direct_post.url, 'host' => URI.parse(s3_direct_post.url).host } do |f| %>

  <%= f.text_field "dataset[name]", label: "Collection name", value: dataset.name, disabled: !dataset.id.nil?, required: true, placeholder: t(:'dataset.name') %>

  <%= f.text_area "dataset[description]", label: "Collection description", value: dataset.description, placeholder: t(:'dataset.description')  %>

  <%= f.select "dataset[license]", licenses, label: "Licence", selected: dataset.license %>
  
  <%= f.select "dataset[frequency]", Octopub::PUBLICATION_FREQUENCIES, label: "How often do you plan on adding files?", selected: dataset.frequency %>

  <div id="files" class="well">
    <% if dataset.dataset_files.count == 0 %>
      <%= render partial: "dataset_files/edit_form", locals: { file: DatasetFile.new, schema: DatasetFileSchema.new, f: f, dataset_file_schemas: dataset_file_schemas } %>
    <% else %>
      <% dataset.dataset_files.order(created_at: :asc).each_with_index do |file, i| %>
        <div class="hidden">
          <%= render partial: "dataset_files/edit_form", locals: { file: DatasetFile.new, schema: DatasetFileSchema.new, f: f, i: i, dataset_file_schemas: dataset_file_schemas } %>
        </div>
        <div class="visible">
        <%= render partial: "dataset_files/edit_form", locals: { file: file, f: f, i: i, dataset_file_schemas: dataset_file_schemas } %>
        </div>
      <% end %>
    <% end %>
  </div>
  <p class="text-right" id="wut">
    <%= bs_button_to 'Add another data file', '#', style: "success", id: "clone", icon: "glyphicon glyphicon-plus", class: "btn-xs" %>
  </p>

  <button type="submit" class="btn btn-primary btn-lg btn-block">
    Submit <i class="fa fa-refresh fa-spin hidden" id="spinner"></i>
  </button>
<% end %>