<%= bootstrap_form_tag url: url, method: method, html: { class: 'edit-form' }, data: { 'form-data' => (s3_direct_post.fields), 'url' => s3_direct_post.url, 'host' => URI.parse(s3_direct_post.url).host } do |f| %>
  <%= f.text_field "dataset[name]", label: "Dataset name", value: dataset.name, disabled: !dataset.id.nil?, required: true, placeholder: t(:'dataset.name') %>
  <% if dataset.id.nil? %>
    <%= f.select "dataset[owner]", organization_select_options, { label: "Owner" }, { class: "selectpicker form-control show-tick" } %>
  <% end %>
  <%= f.text_area "dataset[description]", label: "Dataset description", value: dataset.description, placeholder: t(:'dataset.description')  %>
  <%= f.text_field "dataset[publisher_name]", label: "Publisher name", value: dataset.publisher_name, required: true, placeholder: t(:'dataset.publisher_name') %>
  <%= f.url_field "dataset[publisher_url]", label: "Publisher URL", value: dataset.publisher_url, placeholder: t(:'dataset.publisher_url') %>
  <%= f.select "dataset[license]", licenses, label: "License", selected: dataset.license %>
  <%= f.select "dataset[frequency]", [
                                        "One-off",
                                        "Annual",
                                        "Every working day",
                                        "Daily", "Monthly",
                                        "Every minute",
                                        "Every quarter",
                                        "Half yearly",
                                        "Weekly"
                                      ], label: "Publication frequency", selected: dataset.frequency %>
  <div id="files">
    <% if dataset.dataset_files.count == 0 %>
      <%= render partial: "dataset_files/edit_form", locals: { file: DatasetFile.new, schema: DatasetFileSchema.new, f: f } %>
    <% else %>
      <% dataset.dataset_files.each_with_index do |file, i| %>
        <div class="hidden">
          <%= render partial: "dataset_files/edit_form", locals: { file: DatasetFile.new, schema: DatasetFileSchema.new, f: f, i: i } %>
        </div>
        <%= render partial: "dataset_files/edit_form", locals: { file: file, f: f, i: i } %>
      <% end %>
    <% end %>
  </div>
  <p class="text-right" id="wut">
    <%= bs_button_to 'Add another data file', '#', style: "success", id: "clone", icon: "glyphicon glyphicon-plus", class: "btn-xs" %>
  </p>


  <button type="submit" class="btn btn-primary btn-lg btn-block">
    Submit <i class="fa fa-refresh fa-spin hidden" id="spinner"></i>
  </button>
<% end %>
