<h1 class="page-header">Add Dataset</h1>

<%= bootstrap_form_tag url: datasets_path, method: :post do |f| %>
  <%= f.text_field "dataset[name]", label: "Dataset name" %>
  <%= f.text_area "dataset[description]", label: "Description" %>
  <%= f.text_field "dataset[publisher_name]", label: "Publisher name" %>
  <%= f.url_field "dataset[publisher_url]", label: "Publisher URL" %>
  <%= f.select "dataset[license]", @licenses, label: "License" %>
  <%= f.select "dataset[frequency]", [
                                        "One-off",
                                        "Annual",
                                        "Every working day",
                                        "Daily", "Monthly",
                                        "Every minute",
                                        "Every quarter",
                                        "Half yearly",
                                        "Weekly"
                                      ], label: "Publication frequency" %>
  <div id="files">
    <h3>Data files</h3>
    <fieldset class="file">
      <div class="well bg-info">
        <%= f.text_field "files[][title]", label: "Title" %>
        <%= f.file_field "files[][file]", label: "File" %>
      </div>
    </fieldset>
  </div>
  <p class="text-right" id="wut">
    <%= bs_button_to 'Add another file', '#', style: "success", id: "clone", icon: "glyphicon glyphicon-plus", class: "btn-xs" %>
  </p>
  <%= f.submit "Submit", class: "btn btn-primary btn-lg btn-block" %>
<% end %>

<script>
  $(document).ready(function() {
    var file = $('.file:first').clone();

    $('#clone').click(function(e) {
      e.preventDefault();
      $(file).clone().appendTo('#files');
    });

  });
</script>
