<!DOCTYPE html>
<html prefix="dct: http://purl.org/dc/terms/
              rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns#
              dcat: http://www.w3.org/ns/dcat#
	      foaf: http://xmlns.com/foaf/0.1/
              odrs: http://schema.theodi.org/odrs#">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= dataset.name %></title>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>
<body typeof="dcat:Dataset" resource="<%= dataset.url %>">
  <nav>
  	<div class='navbar navbar-inverse navbar-static-top' id='topbar'>
  		<div class='container'>
  			<div class='navbar-inner'>
  				<a class='brand' href='/'>
  					<h1><%= dataset.name %></h1>
  					<img alt="Logo" src="img/logo.png" />
  				</a>
  			</div>
  		</div>
  	</div>
  </nav>

  <header>
  	<div class="container">
  	<h1 property="dct:title"><%= dataset.name %></h1>
  	</div>
  </header>

  <div class='container main-default' id='main'>

  <p property="dct:description"><%= dataset.description %></p>

  <div property="dct:publisher" resource="<%= dataset.publisher_url %>">
  	<h2 property="rdfs:label">Publisher</h2>
  	<a href="<%= dataset.publisher_url %>" about="<%= dataset.publisher_url %>" property="foaf:homepage">
  		<span property="foaf:name"><%= dataset.publisher_name %></span>
  	</a>
  </div>


  <div property="dct:rights" resource="#rights" typeof="odrs:RightsStatement">
  	<h2 property="rdfs:label">License</h2>
  	<div property="dct:license odrs:dataLicense odrs:contentLicense" resource="<%= dataset.license_details.url %>">
  		<a href="<%= dataset.license_details.url %>"><span property="dct:title"><%= dataset.license_details.title %></span></a>
  	</div>
  </div>

  <div>
  	<h2 property="rdfs:label">Update frequency</h2>
  	<span property="dcat:accrualPeriodicity"><%= dataset.frequency %></span>
  </div>

  <div property='dcat:distribution' typeof='dcat:Distribution'>
    <h1 property="dct:title">Data Download</h1>
    <% files = dataset.dataset_files %>
    <%= render partial: "dataset_files/file", collection: files, locals: { dataset: dataset } %>
  </div>

  <footer id='footer'>
  	<div class="container right">
  	<p><a href="http://git-data-publisher.herokuapp.com/">GitHub data publisher</a> by <a href='http://www.theodi.org'>Open Data Institute</a></p>
  	<p class='license'><a href='http://creativecommons.org/licenses/by-sa/4.0/' rel='license'><img alt="Creative Commons Licence" height="15" src="img/logo_cc_80x15.png" width="80" /></a></p>
  	</div>
  </footer>
</body>
</html>
