<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Your dataset has been created</h1>
    <p>
      Hi <%= @user.name %>,
    </p>
    <p>
      Just a quick note to let you know that your dataset, '<pre><%= @dataset.name %></pre>' has been created.
      It's available to view at the link below:
    </p>
    <p>
      <%= link_to @dataset.gh_pages_url, @dataset.gh_pages_url %>
    </p>
    <p>
      We've also created an Open Data Certificate for your dataset.
      If you have an Open Data Certificates account, you can claim the dataset and
      answer additional questions at <%= link_to @dataset.certificate_url, @dataset.certificate_url %>.
    </p>
    <p>
      To manage your Octopub datasets, you can access your <%= link_to 'dashboard', dashboard_url %>
      at any time.
    </p>

    <p>
      Thanks,<br />
      The Octopub Team.
    </p>

  </body>
</html>
