<h1 class="page-header">My Details</h1>

<%= bootstrap_form_tag url: me_path, method: :put do |f| %>

  <%= f.email_field "user[name]", label: "Username", value: current_user.name, required: true, disabled: true %>

  <%= f.email_field "user[email]", label: "Email", value: current_user.email, required: true %>

  <%= f.text_field "user[api_key]", label: "API Key", value: current_user.api_key, required: true, disabled: true %>

  <%= f.text_field "user[twitter_handle]", label: "Twitter handle", value: current_user.twitter_handle, required: false, prepend: '@' %>

  <%= f.select(
    "user[notification_preference]",
    User.notification_preferences.keys.map { |pref|
      [pref, pref]
    },
    label: 'Notify me by',
    selected: current_user.notification_preference
  ) %>

  <button type="submit" class="btn btn-primary btn-lg btn-block">
    Submit
  </button>

<% end %>
