<table class="table" data-toggle="table" data-pagination="true" data-search="true" data-filter-control="true">
  <thead>
    <tr>
      <th data-sortable="true">Creator</th>
      <th data-sortable="true"><%= t(:'dataset_file_schema.owner') %></th>
      <th data-sortable="true">Name</th>
      <th data-sortable="true">Type</th>
      <th data-sortable="true">Datasets using schema</th>
      <th data-sortable="true">Created At</th>
      <% if admin_user %>
        <th></th>
      <% end %>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% schemas.each do |dataset_file_schema| %>
      <tr>
        <td><%= dataset_file_schema.user.name %></td>
        <td><%= dataset_file_schema.owner_name %></td>
        <td><%= link_to dataset_file_schema.name, dataset_file_schema_path(dataset_file_schema) %></td>
        <td><%= dataset_file_schema.csv_on_the_web_schema ? 'CSV on the Web' : 'JSON schema' %></td>
        <td><%= dataset_file_schema.count_datasets_using_this_schema %></td>
        <td><%= dataset_file_schema.created_at.to_formatted_s(:short) if dataset_file_schema.created_at %></td>
        <% if admin_user %>
          <td>
            <%= link_to "Create output Schema", new_dataset_file_schema_output_schema_path(dataset_file_schema), class: 'btn btn-warning btn-sm' unless dataset_file_schema.csv_on_the_web_schema %>
          </td>
        <% end %>
        <td>
          <% if can? :delete, dataset_file_schema %>
            <%= link_to("Delete", dataset_file_schema_path(dataset_file_schema), method: :delete, data: { confirm: "Are you sure you want to delete this dataset file schema?" }, class: "btn btn-danger btn-sm") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
