<h1 class="page-header">Dataset File Schemas <small>for <%= current_user.name %></small></h1>
<div>
<p><%= bs_button_to 'Add a new dataset file schema', new_dataset_file_schema_path, style: "success", id: "add_schema", class: "btn-default" %></p>
<p><%= bs_button_to 'Infer a new dataset file schema', new_infer_dataset_file_schema_path, style: "success", id: "infer_schema", class: "btn-default" %></p>
</div>

<% if @dataset_file_schemas.any? %>
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <% @dataset_file_schemas.each_with_index do |dataset_file_schema, index| %>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id=<%= "heading-#{index}" %>>
          <h4 class="panel-title">
            <% if index == 0 %>
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= "collapse#{index}" %>" aria-expanded="true" aria-controls="<%= "collapse#{index}" %>">
              <%= dataset_file_schema.name %>
            </a>
            <% else %>
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#<%= "collapse#{index}" %>" aria-expanded="false" aria-controls="<%= "collapse#{index}" %>">
              <%= dataset_file_schema.name %>
            </a>
            <% end %>
          </h4>
        </div>
        <div id="<%= "collapse#{index}" %>" class="panel-collapse collapse <%= 'in' if index == 0 %>" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
            <h3><%= dataset_file_schema.description %></h3>
            <%= markdown_json(dataset_file_schema.schema) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<% else %>
  <p class='text-center lead'>You currently have no dataset file schemas, why not <%= link_to 'add one', new_dataset_file_schema_path %>?</p>
<% end %>
