<h1 class="page-header">Add a new Dataset File Schema</h1>

<%= bootstrap_form_for @dataset_file_schema, method: :post, data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } do |f| %>
  <%= f.text_field :name %>
  <%= f.text_area :description %>
  <%= f.select :user_id, organization_select_options_schema, { label: "Owner" }, { class: "selectpicker form-control show-tick" } %>
  <div class="file-panel">
    <div class="panel panel-default">
      <div class="panel-heading">Data Files</div>
      <div class="panel-body">
        <fieldset class="file bg-upload">
          <%= f.file_field :file_name, label: "File", accept: ".json" %>
        </fieldset>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary btn-lg btn-block">
    Submit <i class="fa fa-refresh fa-spin hidden" id="spinner"></i>
  </button>
<% end %>


