<div class="home-box-dashboard">
	<%= link_to "< Back to all schemas / models", main_app.dataset_file_schemas_path %>
	<div class="row">
		<div class="head-dataset">
			<div class="col-md-3">
				<h2><span class="fa fa-folder-open"></span><%= @dataset_file_schema.name %></h2>
			</div>
		</div>
	</div>
	 <%= render(partial: "schema_metadata", locals: { dataset_file_schema: @dataset_file_schema })  %>
	 <% if @json_table_schema %>
		 <% if @dataset_file_schema.csv_on_the_web_schema %>
			 <h2>Schema on the Web</h2>
		 <% else %>
			 <!-- <%= render(partial: "schema_overview", locals: { dataset_file_schema: @dataset_file_schema })  %> -->
			 <%= render(partial: "schema_json", locals: { dataset_file_schema: @dataset_file_schema })  %>
	 	 <% end %>
	 <% else %>
	   <p>This schema has not been parsed</p>
	 <% end %>
</div>
