<h1 class="page-header">Dataset File Schema <small>for <%= current_user.name %></small></h1>
<div>
<p><%= bs_button_to 'Add a new dataset file schema', new_dataset_file_schema_path, style: "success", id: "add_schema", class: "btn-default" %></p>
<p><%= bs_button_to 'Infer a new dataset file schema', new_inferred_dataset_file_schema_path, style: "success", id: "infer_schema", class: "btn-default" %></p>
</div>

<div class="panel-body">
  <h3><%= @dataset_file_schema.description %></h3>
  <%= markdown_json(@dataset_file_schema.schema) %>
</div>
