<div class="row title-dataset">
  <div class="col-md-3">
    <h1>Files:</h1>
  </div>
  <div class="col-md-5 col-md-offset-7 icon-blue" style="text-align: right;">
    <i class="fa fa-plus-circle"></i>
    <a href="">Add another file</a>
  </div>
</div>
<div class="box-dataset">
  <% if @dataset_files.exists? %>
    <table class="table table-striped"
    data-toggle="table"
    data-classes="table"
    data-filter-control="true">
      <thead>
        <tr>
          <th data-sortable="true">Name</th>
          <th data-sortable="true">Schema</th>
          <th data-sortable="true">Creation date</th>
          <th data-sortable="true">Validation</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @dataset_files.each do |file| %>
          <tr>
            <td><%= file.title %></td>
            <td><%= file.dataset_file_schema.name if file.dataset_file_schema %></td>
            <td><%= time_or_date(file.created_at.utc) %></td>
            <td><a href="https://csvlint.io/?uri=<%= @dataset.gh_pages_url %>/data/<%= file.filename %>"><img src="https://csvlint.io/?uri=<%= @dataset.gh_pages_url %>/data/<%= file.filename %>&format=svg" alt="CSVlint validation result" /></a></td>
            <td>
              <div class="dropdown show">
                <a class="dropdown-toggle" href="https://example.com" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  ...
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
                  <%= link_to("View*", files_path(file), class: "dropdown-item") %>
                  <%= link_to("Download*", dataset_file_download_path(:dataset_id), class: "dropdown-item") %>
                  <%= link_to("Edit*", files_path(file), method: :edit, class: "dropdown-item") %>
                  <%= link_to("Delete*", dataset_path(:dataset_id), class: "dropdown-item") %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
