<div class="title-dataset">
  <h1>Schemas:</h1>
</div>
<div class="box-dataset">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Publisher</th>
        <th>Created on</th>
        <th>Files</th>
        <th>Actions</th>
      </tr>
    </thead>
    <%= @dataset_file_schemas %>
    <tbody>
      <% @dataset_files.each do |file| %>
        <tr>
          <td><%= file.dataset_file_schema.name %></td>
          <td><%= file.dataset_file_schema.owner_username %></td>
          <td><%= time_or_date(file.dataset_file_schema.created_at) %></td>
          <td><%= file.dataset_file_schema.count_datasets_using_this_schema %></td>
          <td>...</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
