<% if flash[:success] %>
	<div class="alert alert-success alert-dismissible" role="alert">
		<%= flash[:success] %>
		<button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
	</div>
<% end %>

<div class="home-box-dashboard">
  <%= link_to "< Back to all collections", main_app.user_datasets_path(current_user) %>
  <div class="row">
		<div class="head-dataset">
			<div class="col-md-3">
				<h2><span class="fa fa-folder-open"></span><%= @dataset.name %></h2>
			</div>
			<div class="col-md-9">
				<% if @dataset.repo && @dataset.published_status == 'revised' %>
					<%= bs_button_to "Publish changes", request.original_url + '/publish_dataset', rel: "alternate",:class => "btn btn-primary pull-right" %>
				<% end %>

				<% if !@dataset.repo %>
					<%= bs_button_to "Publish", request.original_url + '/publish_dataset', rel: "alternate",:class => "btn btn-primary pull-right" %>
				<% end %>

				<% if @dataset.repo %>
					<%= bs_button_to "Download data package", @dataset.gh_pages_url + '/datapackage.json', target: "_blank", rel: "alternate",:class => "btn btn-tertiary pull-right" %>
					<%= bs_button_to "View on Github", @dataset.github_url, target: "_blank", rel: "alternate",:class => "btn btn-tertiary pull-right" %>
				<% end %>
			</div>
		</div>
  </div>
  <%= render(partial: "dataset")  %>
  <%= render(partial: "dataset-files")  %>
  <%= render(partial: "dataset-schemas")  %>
  <div class="title-dataset">
    <h2>Support:</h2>
  </div>
  <div class="row">
    <div class="col-md-10">
			<p>Once you have published data to GitHub, other people can send you
				suggestions and corrections through GitHub's <%= link_to "Issues", @dataset.github_url + '/issues' %>
				page. This way all comments and subsequent fixes willed be <%= link_to "logged openly", @dataset.github_url + '/issues' %>
				so everyone can see the provenence of the data in the dataset.</p>
    </div>
  </div>
</div>
