<%= link_to "< Back to all collections", main_app.user_datasets_path(current_user) %>
<div class="row head-dataset">
  <div class="col-md-7">
    <h1><%= @dataset.name %></h1>
  </div>
  <div class="col-md-5">
    <%= bs_button_to "Download data package", @dataset.gh_pages_url + '/datapackage.json', target: "_blank", rel: "alternate",:class => "btn btn-tertiary" %>
    <% if @dataset.published_status %>
      <%= bs_button_to "View on Github", @dataset.github_url, target: "_blank", rel: "alternate",:class => "btn btn-tertiary" %>
    <% end %>
  </div>
</div>
<%= render(partial: "dataset")  %>
<%= render(partial: "dataset-files")  %>
<%= render(partial: "dataset-schemas")  %>
<div class="title-dataset">
  <h1>Support:</h1>
</div>
<div>
  <p>If you have support queries, suggestions or corrections to the data, please file a new issue in our Github repository.<br>
  All comments and subsequent fixes will be logged openly such that you can easily see the provenance of each object in this dataset</p>
</div>
