<h2>Files</h2>
<div class="file-panel">
  <div class="panel panel-default">
    <div class="panel-heading clearfix" name="data_file_heading">Data Files</div>
    <div class="panel-body">

      <fieldset class="file bg-upload">
        <%= hidden_field_tag "files[][dataset_file_schema_id]", dataset_file_schema_id %>
        <%= f.text_field "files[][title]", label: "Title", class: "title", value: file.title, placeholder: t(:'allocated_schema_dataset_file.name'), readonly: !file.id.nil? %>
        <%= f.text_area "files[][description]", label: "Description", class: "description", value: file.description, placeholder: t(:'allocated_schema_dataset_file.description') %>

        <% if file.filename %>
          <div class="form-group filename-wrapper">
            <div class="current-file">
              <label class="control-label">Current file</label>
              <p><%= link_to file.filename, file.gh_pages_url %> <%= f.check_box "Change file #{i}", label: "Change file", class: "change-file" %> </p>
            </div>
          </div>
        <% else %>
          <%= f.file_field "files[][file]", label: "File", accept: ".csv" %> <!-- THIS IS IT, generates a new field with  -->
        <% end %>
        <%= f.hidden_field("files[][id]", name: "files[][id]", value: file.id) if file.id %>
      </fieldset>
    </div>
  </div>
</div>