<!--<div class="container">-->
<div style="background:transparent !important" class="jumbotron">

  <div id="intro" class="getting-started">
    <p>
      Creating a dataset using Octopub couldn't be easier. Before getting started,
      make sure you've got a Github account.
      If you haven't got one, you can sign up at <%= link_to 'github.com/join', "https://github.com/join" %>.
      Once you've got an account, follow our simple step by step guide to creating your first dataset.
    </p>
  </div>

  <div id="video-tutorial" class="container">
    <style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://player.vimeo.com/video/215665401' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>

  </div>

  <div id="text-tutorial" class="getting-started">
    <p>First, go to [the homepage](https://octopub.io) and click 'Sign in with Github'</p>


    <div>
      <%= image_tag 'tutorial/step1.gif', {class: "img-responsive", alt: 'Step 1: Nav to Homepage'} %>
    </div>


    <p>If you’re not already logged into Github, you’ll be prompted to sign in to your Github account.</p>

    <div>
      <%= image_tag 'tutorial/step2.png', class: "img-responsive", alt: 'Step 2: Sign In To Github' %>
    </div>

    <p>
      Once you're signed in, you’ll see a screen like this, asking you to authorise your
      account with Octopub. We need these permissions to create and update datasets
      in Github on your behalf, and won’t use them for any other purpose:
    </p>

    <div>
      <%= image_tag 'tutorial/step3.png', class: "img-responsive", alt: 'Step 3: Authorise Octopub with Github' %>
    </div>

    <p>
      Next, click ‘Authorize application’.You’ll then be redirected to Octopub with a message telling you you’re logged in.
    </p>

    <div>
      <%= image_tag 'tutorial/step4.png', class: "img-responsive", alt: 'Step 4: You have successfully Authorized Octopub with Github' %>
    </div>

    <p>
      Next, under the ‘Datasets’ menu, click ‘Add a dataset’. You’ll then be redirected to the dataset creation page:
    </p>

    <div>
      <%= image_tag 'tutorial/step5.png', class: "img-responsive", alt: 'Step 5: Add a dataset' %>
    </div>

    <p>
      The first thing you’re asked for is the title of the dataset. Keep this short, sweet and descriptive, telling users what the dataset is about.
    </p>

    <div>
      <%= image_tag 'tutorial/step7.png', class: "img-responsive", alt: 'Step 7: Descriptively name a dataset' %>
    </div>

    <p>
      Next is the description, you can use this to give extra context to the data. This can be as long or as short as you'd like
    </p>



    <div>
      <%= image_tag 'tutorial/step8.png', class: "img-responsive", alt: 'Step 8: Add a description to your dataset' %>
    </div>

    Now, provide the name and web address of the person of organisation who is publishing the data. Data users like this, so they know who to contact with any questions.

    <div>
      <%= image_tag 'tutorial/step9.png', class: "img-responsive", alt: 'Step 9: Add publication details to your dataset' %>
    </div>

    <p>Next, you can choose the license. This lets people know what they can or can't do with the data</p>

    <div>
      <%= image_tag 'tutorial/step10.png', class: "img-responsive", alt: 'Step 10: Add license details to your dataset' %>
    </div>


    <p>
      The license options are as follows:
    </p>
      <ul>
        <li>Creative Commons Attribution 4.0</li>
        Choose this license if you want anyone to use your data on the understanding that they credit you or your organisation
        <li>Creative Commons Attribution Share-Alike 4.0</li>
        Choose this license if you want anyone to use your data with the same restrictions as above, with the added requirement that anything created using your data is released under the same license
        <li>CC0 1.0</li>
        Choose this license if you want anyone to use your data with no restrictions
        <li>Open Government License 3.0 (United Kingdom)</li>
        This license is same as Creative Commons Attribution, but created for UK government. Choose this license if the data you are creating is published by a UK national or local government agency
        <li>Open Data Commons Attribution License 1.0</li>
        This license is similar to Creative Commons Attribution, but applies specifically to data
        <li>Open Data Commons Public Domain Dedication and License 1.0</li>
        This license is similar to CC0, but applies specifically to data
      </ul>

      <p>For more information of open data licensing, see the <%= link_to 'ODI’s guide to open data licensing', "https://theodi.org/guides/publishers-guide-open-data-licensing" %>.</p>

      <p>You can also choose whether to publish your data privately or publicly. Only people with paid Github accounts can publish privately, so leave this to 'yes' for now.</p>



    <div class="media">
      <%= image_tag 'tutorial/step11.png', class: "img-responsive", alt: 'Step 11: Determine visibility of your dataset' %>
    </div>

    <p>Next, choose how often you think the data will be updated - this lets data reusers know if this data is likely to change</p>

    <div class="media">
      <%= image_tag 'tutorial/step12.png', class: "img-responsive", alt: 'Step 12: Add publication frequency details to your dataset' %>
    </div>

    <p>Now comes to nitty gritty part, adding the data. Choose a title and description for your data file, then click 'Choose file' to choose a CSV file to upload.</p>

    <div class="media">
      <%= image_tag 'tutorial/step13.png', class: "img-responsive", alt: 'Step 13: upload data files' %>
    </div>

    <p>Once the file has uploaded, you can scroll down and click 'Submit' to create your dataset. You'll then see a notice telling you your data has been queued for creation. Within a few minutes, you should recieve an email, with a link allowing you to see your dataset in all its glory!</p>


  </div>


</div>