<p id="notice"><%= notice %></p>

<h1>Schema Categories</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schema_categories.each do |schema_category| %>
      <tr>
        <td><%= link_to 'Show', schema_category %></td>
        <td><%= link_to 'Edit', edit_schema_category_path(schema_category) %></td>
        <td><%= link_to 'Destroy', schema_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Schema Category', new_schema_category_path %>
