<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">Octopub</a>
  </div>

  <ul class="nav navbar-nav">
    <% if current_user %>
      <li class="dropdown">
        <a href="<%= main_app.datasets_path %>" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Datasets <span class="caret"></span></a>
        <ul class="dropdown-menu">

          <li><%= link_to "Add dataset", main_app.new_dataset_path %></li>

          <% if current_user.allocated_dataset_file_schemas.exists? %>
            <li role="separator" class="divider"></li>
            <% current_user.allocated_dataset_file_schemas.each do |allocated_schema| %>
              <li><%= link_to "Add dataset for #{allocated_schema.name}", main_app.new_dataset_file_schema_dataset_path(allocated_schema) %></li>
            <% end %>
          <% end %>

          <li role="separator" class="divider"></li>

          <li><%= link_to "My datasets", main_app.user_datasets_path(current_user) %></li>
          <% if current_user.organizations.any? %>
            <% current_user.organizations.each do |organization| %>
               <li><%= link_to "<b>#{organization.organization.login}'s</b> datasets".html_safe, main_app.organisation_datasets_path(organization.organization.login) %></li>
            <% end %>
          <% end %>

          <li><%= link_to "Public datasets", main_app.datasets_path %></li>
        </ul>
      </li>
      <li class="dropdown" id="dataset_file_schema_dropdown">
        <a href="<%= main_app.dataset_file_schemas_path %>" class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" id="dataset_file_schema_menu">Dataset File Schemas <span class="caret"></span></a>

        <ul class="dropdown-menu">
          <li><%= link_to "Add dataset file schema", main_app.new_dataset_file_schema_path %></li>
          <li><%= link_to "Infer dataset file schema", main_app.new_inferred_dataset_file_schema_path %></li>
          <li role="separator" class="divider"></li>
          <li><%= link_to "List my dataset file schemas", main_app.dataset_file_schemas_path %></li>
        </ul>
      </li>
    <% else %>
      <li><%= link_to "All datasets", main_app.datasets_path %></li>
    <% end %>
    <li><%= link_to "API", '/api' %></li>
    <% if admin_user %>
      <li><%= link_to "Schema Categories", main_app.schema_categories_path %></li>
      <li><%= link_to "Users", main_app.users_path %></li>
    <% end %>
  </ul>

  <% if current_user %>
    <p class="navbar-text navbar-right">
      Signed in as <%= link_to current_user.name, main_app.me_path %>
      <%= bs_button_to 'Logout', main_app.signout_path, style: "primary" %>
    </p>
  <% else %>
    <p class="navbar-text navbar-right">
      <%= bs_button_to 'Sign in with Github', '/auth/github', style: "primary" %>
    </p>
  <% end %>
</nav>