<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Octopub</title>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= alternate_auto_discovery_link_tags %>

    <%= yield :head %>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Octopub</a>
        </div>

          <ul class="nav navbar-nav">
            <% if current_user %>
              <li><%= link_to "Add dataset", main_app.new_dataset_path %></li>
              <li><%= link_to "List my datasets", main_app.dashboard_path %></li>
              <li><%= link_to "List my dataset file schemas", main_app.dataset_file_schemas_path %></li>
            <% end %>
            <li><%= link_to "All datasets", main_app.datasets_path %></li>
            <li><%= link_to "API", '/api' %></li>

          </ul>

        <% if current_user %>
          <p class="navbar-text navbar-right">
            Signed in as <%= link_to current_user.name, main_app.me_path %>
            <%= bs_button_to 'Logout', main_app.signout_path, style: "primary" %>
          </p>
        <% else %>
          <p class="navbar-text navbar-right">
            <%= bs_button_to 'Sign in with Github', '/auth/github', style: "primary" %>
          </p>
        <% end %>

      </nav>

      <div class="row">
        <div class="col-md-10 col-md-offset-1" id="main">
          <% flash.each do |name, msg| %>
            <% if msg.is_a?(String) %>
              <%= bs_alert msg, block: true, dismiss_button: true, style: "info" %>
            <% end %>
          <% end %>

          <%= yield %>
        </div>
      </div>

    </div>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <%= image_tag 'labs-72-linked-200px.png', alt: 'ODI Labs' %>
            <p>An <a href="http://theodi.org/labs">ODI Labs</a> experiment</p>
          </div>
        </div>
      </div>
    </footer>


  </body>
  <%= yield :extra_js %>
</html>
