<!DOCTYPE html>
<html>
<head>
  <title>GitDataPublisher</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash.each do |name, msg| %>
    <% if msg.is_a?(String) %>
      <%= content_tag :div, msg, :class => "flash_#{name}" %>
    <% end %>
  <% end %>

  <% if current_user %>
    <p><%= link_to 'Logout', signout_path %></p>
  <% else %>
    <p><%= link_to 'Sign in with Github', '/auth/github' %></p>
  <% end %>

<%= yield %>

</body>
</html>
